* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin medidas ($widthitem, $hitem) {
    height: $hitem;
    width: $widthitem;
}

$color1:red;
$color_botonup:rgba(238, 22, 22, 0.274);
$color2: rgba(0, 128, 0, 0.368);
$color3: rgb(64, 220, 21);
$color4: green;
$color5:yellow;
$color6:orange;
$color7: white;
$color8:black;
$fontfamily1: 'Anton',
sans-serif;
$fontfamily2: 'Secular One', sans-serif;
$widthitem:100px;
$hitem:100px;


@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,700;0,800;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');




.navbar {
    background-color: $color8;
    color: $color7;
    float: left;
    width: 100%;
    height: 100%vh;

}
.nav-link{
    display:flex;
    color: $color7;
    font-family: $fontfamily2;
    text-shadow: 0 0 7px $color3;
    
}

.logonav {
    width: 40px;
    height: 40px;
    margin: 12px;
}


.barra {
    float: right;
}

.barra ul {
    list-style: none;
}

.barra ul li {
    display: inline-block;
}

.barra a {
    text-decoration: none;
    color: $color3;
}

.barra a:hover {
    color: rgb(8, 216, 8);
    text-decoration: underline;
}

p {
    margin: 20px;
}

main {
    height: 100vh;
    width: 100%;
    background-image: url(../images/studio2.jpg);
    background-position: left;
    background-size: cover;
}

.main2 {
    background-image: url(../images/polvo2.jpg);
    height: 100%;
    width: 100%;
}
.fon3{
    background-image: url(../images/polvo);
    height: 100%;
    width: 100%;
}

.subir {
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: rgba(64, 220, 21, 0.516);
    border: 5px solid $color4;
    position: fixed;
    right: 20px;
    bottom: 40px;
    color: $color3;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 100%;
    box-shadow: 0 0 15px $color3;
    z-index: 10;
    margin-right: -5px;
    }
.call {
    color: $color7;
    font-family: $fontfamily1;
    letter-spacing: 0.5px;
    float: left;
    background-color: rgba(0, 0, 0, 0.319);
    padding: 20px;
    text-shadow: 0 0 5px $color7;
    border: 2px solid $color3;
    margin: 30px;
    width: 60%;
    background-color:rgba(2, 2, 2, 0.5098039216);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23310a6f' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


h1 {
    color: $color3;
}
h2{
    margin: 20px;
}
h5 {
    color: $color3;
    font-size: 16px;
}

.call p {
    font-size: 20px;
    margin-bottom: 30px;
}

.call a {
    background-color: $color3;
    width: 10px;
    color: $color7;
    margin:10px;
    padding: 5px 20px;
}

.call a:hover {
    background-color: #222;
    text-shadow: 2px solid $color4;
    border: 2px solid $color4;
    ;
}
.foto1{
    display: flex;
    width: 100%;
    height:500px;
    background-image: url(../images/foto1.jpg);
    background-size:cover;
    border: 1px solid $color3;
}
.foto2{
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(../images/foto2.jpg);
    background-size:cover;
    border: 1px solid $color3;    
}
/*index arriba / sobre nosotros abajo y servicios*/
.caja {


    padding: 2px;
}

.caja p {
    color: $color8;
    margin-top: 5px;
    margin: 10px;
}

table td {
    width: 120px;
    height: 120px;
    color: $color8;
    margin-right: 110px;
    margin: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.tablecel {
    margin-left: 25px;

}


.texto1 {
    color: $color7;
    margin: auto;
    padding: 1%;
}

.titulo2 {
    color: rgb(64, 242, 9);
    margin: 20px;
}


.titulo2:hover {
    color: $color1;
    padding: 0%;
}

footer {
    color: rgb(64, 242, 9);
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}

.redes {
    font-size: 50px;
    letter-spacing: 10px;
}

.redes a {
    color: $color7;
    align-content: space-evenly;
    padding: 10px;
}
    
    
    @media only screen and (max-width:320px) {
    
    
    .navbar {
    background-color: $color8;
    color: $color7;
    float: left;
    width: 100%;
    height: 100%;
    }
    .nav-link{
    display:flex;
    color: $color7;
    font-family: $fontfamily2;
    text-shadow: 0 0 7px $color3;
    }
    .logonav {
    width: 40px;
    height: 40px;
    margin: 12px;
    }
    
    .foto1{
        display:flex;
        width: auto;
        
        background-image: url(../images/foto1.jpg);
        background-size:cover;
        border: 1px solid $color3;
    }
    .foto2 {
        display: flex;
        width: 100%;
        height: 500px;
        background-image: url(../images/foto2.jpg);
        background-size: cover;
        border: 1px solid rgb(64, 220, 21);
    }
    .form {
    height:100%;
    width: auto;
    margin: 20px;
    margin-right: 700px;
    margin-top: -10px;
    }
    
    .form label {
    text-shadow: 0 0 5px rgb(26, 25, 25);
    }
    
    .tablecel {
    margin-right: 65px;
    }
    
    .video {
    background-size: cover;
    width: 100%;
    height: 500px;
    margin: 2px;
    margin-right: 200px;
    margin-top: 150px;
    padding: 10px;
    }
    h1 {
    color:$color3;
    }
    .call {
    color: $color3;
    font-family: $fontfamily1;
    font-size: 16px;
    letter-spacing: 0.5px;
    float: left;
    background-color: rgba(2, 2, 2, 0.5098039216);
    padding: 20px;
    text-shadow: 0 0 5px $color7;
    border: 2px solid $color3;
    margin: 18px;
    background-color: #020202;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23310a6f' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .call p {
    font-size: 20px;
    margin: 5px;
    margin-bottom: 70px;
    color:$color7;
    }
    .call a {
    background-color: rgb(64, 220, 21);
    width: 10px;
    color: white;
    margin: 10px;
    padding: 5px 20px;
    }
    .call a:hover {
    background-color: #222;
    text-shadow: 2px solid $color4;
    border: 2px solid $color4;
    }
    .logonav{
    margin-left: -20px;
    }
    .subir {
    height: 40px;
    width: 40px;
    padding: 2%;
    background-color: $color3;
    border: 5px solid $color4;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: $color3;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    border-radius: 100%;
    box-shadow: 0 0 15px $color3;
    z-index: 10;
    margin-right: -4px;
    
    }
    
    .fon3{
    width: 100%;
    height: 100%;
    background-image: url(../images/polvo2.jpg);
    }
    .imagesnleft{
    background-size:cover;
    }
    .imagesContenedor {
    display: grid;
    height: auto;
    width: 100%;
    margin: 20px;
    grid-template-columns: repeat(1 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "item1"
    "item2"
    "item3"
    "item4"
    "item5"
    "item6";
    margin-left: 20px;
    grid-gap: 4px;
    }
    .item {
    border: solid rgba(20, 205, 45, 0.499);
    margin: 2px;
    animation-name: efecto;
    animation-iteration-count: 2;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    }
    .item1 {
    @include medidas(240px, 250px);
    grid-area: item1;
    background-image: url(../images/headphones.jpg);
    justify-content: left;
    background-size: cover;
    }
    .item2 {
    @include medidas(240px, 250px);
    grid-area: item2;
    background-image: url(../images/studio1.jpg);
    background-size: cover;
    }
    .item3 {
    @include medidas(240px, 250px);
    grid-area: item3;
    background-image: url(../images/studio.jpg);
    background-size: cover;
    background-position: left;
    }
    .item4 {
    @include medidas(240px, 250px);
    grid-area: item4;
    background-image: url(../images/studio2.jpg);
    background-size: cover;
    }
    .item5 {
    @include medidas(240px, 250px);
    grid-area: item5;
    background-image: url(../images/yamaha.jpg);
    background-size: cover;
    }
    .item6 {
    @include medidas(240px, 250px);
    grid-area: item6;
    background-image: url(../images/mic.jpg);
    background-size: cover;
    }
    }