@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,700;0,800;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: black;
  color: white;
  float: left;
  width: 100%;
  height: 100% vh;
}

.nav-link {
  display: flex;
  color: white;
  font-family: "Secular One", sans-serif;
  text-shadow: 0 0 7px rgb(64, 220, 21);
}

.logonav {
  width: 40px;
  height: 40px;
  margin: 12px;
}

.barra {
  float: right;
}

.barra ul {
  list-style: none;
}

.barra ul li {
  display: inline-block;
}

.barra a {
  text-decoration: none;
  color: rgb(64, 220, 21);
}

.barra a:hover {
  color: rgb(8, 216, 8);
  text-decoration: underline;
}

p {
  margin: 20px;
}

main {
  height: 100vh;
  width: 100%;
  background-image: url(../images/studio2.jpg);
  background-position: left;
  background-size: cover;
}

.main2 {
  background-image: url(../images/polvo2.jpg);
  height: 100%;
  width: 100%;
}

.call {
  color: white;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.5px;
  float: left;
  background-color: rgba(0, 0, 0, 0.319);
  padding: 20px;
  text-shadow: 0 0 5px white;
  border: 2px solid rgb(64, 220, 21);
  margin: 30px;
  width: 60%;
  background-color: rgba(2, 2, 2, 0.5098039216);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23310a6f' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
  color: rgb(64, 220, 21);
}

h5 {
  color: rgb(64, 220, 21);
  font-size: 16px;
}

.call p {
  font-size: 20px;
  margin-bottom: 30px;
}

.call a {
  background-color: rgb(64, 220, 21);
  width: 10px;
  color: white;
  margin: 10px;
  padding: 5px 20px;
}

.call a:hover {
  background-color: #222;
  text-shadow: 2px solid green;
  border: 2px solid green;
}

/*index arriba / sobre nosotros abajo y servicios*/
.caja {
  padding: 2px;
}

.caja p {
  color: black;
  margin-top: 5px;
  margin: 10px;
}

table td {
  width: 120px;
  height: 120px;
  color: black;
  margin-right: 110px;
  margin: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.tablecel {
  margin-left: 25px;
}

.texto1 {
  color: white;
  margin: auto;
  padding: 1%;
}

.titulo2 {
  color: rgb(64, 242, 9);
  margin: 20px;
}

.titulo2:hover {
  color: red;
  padding: 0%;
}

footer {
  color: rgb(64, 242, 9);
  background-color: rgb(0, 0, 0);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  padding: 20px;
}

.redes {
  font-size: 50px;
  letter-spacing: 10px;
}

.redes a {
  color: white;
  align-content: space-evenly;
  padding: 10px;
  margin: 10px;
}

.redes a:hover {
  color: rgb(64, 242, 9);
  text-shadow: 0 0 5px white;
}

h2 {
  font-family: "Secular One", sans-serif;
  font-size: 26px;
  color: black;
  margin: 20px;
}

h5 {
  color: rgb(64, 220, 21);
  text-shadow: 0 0 5px yellow;
  font-size: 16px;
}

.sec {
  height: 550px;
  width: 100%;
  display: flex;
}

.nleft {
  width: 20px;
  height: 10px;
  background-image: url(../images/guitars.jpg);
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin: 20px;
  border-radius: 900%;
}

.nright {
  color: orange;
  font-family: "Secular One", sans-serif;
  margin-bottom: 20px;
  margin: 1px;
  text-align: left;
  height: 10px;
}

.nright p {
  color: black;
}

.sec_sec {
  height: 550px;
  width: 100%;
  display: flex;
}

.nleft2 {
  height: 10px;
  width: 20px;
  background-image: url(../images/amek.jpg);
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin: 20px;
  border-radius: 900%;
}

.imagesnleft {
  height: 900px;
  width: 100%;
  background-image: url(../images/studio.jpg);
  background-size: cover;
}

.video {
  width: 1200px;
  height: 100vh;
  margin: 20px;
  margin-left: 120px;
}

/*galeria*/
.fondog {
  background-image: url(../images/galaxy.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
}

.ira {
  margin: 30px;
}

.imagesContenedor {
  display: grid;
  height: auto;
  width: 300px;
  margin: 20px;
  margin-bottom: 200px;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: 2fr;
  grid-template-areas: "item1 item2 item3" "item4 item5 item6";
  margin-left: 50px;
  grid-gap: 4px;
}

.item {
  border: solid rgba(20, 205, 45, 0.499);
  margin: 2px;
  -webkit-animation-name: efecto;
          animation-name: efecto;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.item1 {
  height: 400px;
  width: 400px;
  grid-area: item1;
  background-image: url(../images/headphones.jpg);
  justify-content: left;
  background-size: cover;
}

.item2 {
  height: 400px;
  width: 400px;
  grid-area: item2;
  background-image: url(../images/studio1.jpg);
  background-size: cover;
}

.item3 {
  height: 400px;
  width: 400px;
  grid-area: item3;
  background-image: url(../images/studio.jpg);
  background-size: cover;
  background-position: left;
}

.item4 {
  height: 400px;
  width: 400px;
  grid-area: item4;
  background-image: url(../images/studio2.jpg);
  background-size: cover;
}

.item5 {
  height: 400px;
  width: 400px;
  grid-area: item5;
  background-image: url(../images/yamaha.jpg);
  background-size: cover;
}

.item6 {
  height: 400px;
  width: 400px;
  grid-area: item6;
  background-image: url(../images/mic.jpg);
  background-size: cover;
}

.fon3 {
  background-image: url(../images/polvo.jpg);
  background-size: cover;
  height: 100vh;
  width: auto;
}

.form {
  height: 40px;
  margin: 20px;
  margin-left: 30px;
  margin: 20px;
}

.mapa {
  margin-top: 350px;
  margin-left: 30px;
}

.form label {
  color: rgb(60, 255, 0);
}

a {
  color: green;
  margin: 20px;
}

.subir {
  height: 10px;
  width: 10px;
  padding: 2%;
  background-color: rgb(64, 220, 21);
  border: 5px solid green;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: rgb(64, 220, 21);
  text-align: center;
  font-size: 15px;
  line-height: 15px;
  border-radius: 100%;
  box-shadow: 0 0 15px rgb(64, 220, 21);
  z-index: 10;
  margin-right: 4px;
}

/*keyframes animaciones*/
@-webkit-keyframes efecto {
  0% {
    border-radius: 50%;
  }
  10% {
    border-radius: 50%;
  }
  50% {
    text-shadow: yellow;
  }
  100% {
    background-color: yellow;
  }
}
@keyframes efecto {
  0% {
    border-radius: 50%;
  }
  10% {
    border-radius: 50%;
  }
  50% {
    text-shadow: yellow;
  }
  100% {
    background-color: yellow;
  }
}
/*querrys*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .navbar {
    background-color: black;
    color: white;
    float: left;
    width: 100%;
    height: 100%;
  }
  .nav-link {
    display: flex;
    color: white;
    font-family: "Secular One", sans-serif;
    text-shadow: 0 0 7px rgb(64, 220, 21);
  }
  .logonav {
    width: 40px;
    height: 40px;
    margin: 12px;
  }
  .form {
    height: 100%;
    width: auto;
    margin: 20px;
    margin-right: 700px;
    margin-top: 110px;
  }
  .form label {
    text-shadow: 0 0 5px rgb(26, 25, 25);
  }
  .tablecel {
    margin-right: 65px;
  }
  .video {
    background-size: cover;
    width: 100%;
    height: 500px;
    margin: 2px;
    margin-right: 200px;
    margin-top: 150px;
    padding: 10px;
  }
  h1 {
    color: rgb(64, 220, 21);
  }
  .call {
    color: rgb(64, 220, 21);
    font-family: "Anton", sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    float: left;
    background-color: rgba(2, 2, 2, 0.5098039216);
    padding: 20px;
    text-shadow: 0 0 5px white;
    border: 2px solid rgb(64, 220, 21);
    margin: 18px;
    background-color: #020202;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23310a6f' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  .call p {
    font-size: 20px;
    margin: 5px;
    margin-bottom: 70px;
    color: white;
  }
  .call a {
    background-color: rgb(64, 220, 21);
    width: 10px;
    color: white;
    margin: 10px;
    padding: 5px 20px;
  }
  .call a:hover {
    background-color: #222;
    text-shadow: 2px solid green;
    border: 2px solid green;
  }
  .logonav {
    margin-left: -20px;
  }
  .subir {
    height: 40px;
    width: 40px;
    padding: 2%;
    background-color: rgb(64, 220, 21);
    border: 5px solid green;
    position: fixed;
    color: rgb(64, 220, 21);
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    border-radius: 100%;
    box-shadow: 0 0 15px rgb(64, 220, 21);
    z-index: 10;
    margin-left: 40px;
  }
  .fon3 {
    width: 100%;
    height: 100vh;
    background-position: cover;
  }
  .imagesnleft {
    background-size: cover;
  }
  .imagesContenedor {
    display: grid;
    height: auto;
    width: 100%;
    margin: 20px;
    grid-template-columns: repeat(1 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6";
    margin-left: 20px;
    grid-gap: 4px;
  }
  .item {
    border: solid rgba(20, 205, 45, 0.499);
    margin: 2px;
    -webkit-animation-name: efecto;
            animation-name: efecto;
    -webkit-animation-iteration-count: 2;
            animation-iteration-count: 2;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
  }
  .item1 {
    height: 250px;
    width: 240px;
    grid-area: item1;
    background-image: url(../images/headphones.jpg);
    justify-content: left;
    background-size: cover;
  }
  .item2 {
    height: 250px;
    width: 240px;
    grid-area: item2;
    background-image: url(../images/studio1.jpg);
    background-size: cover;
  }
  .item3 {
    height: 250px;
    width: 240px;
    grid-area: item3;
    background-image: url(../images/studio.jpg);
    background-size: cover;
    background-position: left;
  }
  .item4 {
    height: 250px;
    width: 240px;
    grid-area: item4;
    background-image: url(../images/studio2.jpg);
    background-size: cover;
  }
  .item5 {
    height: 250px;
    width: 240px;
    grid-area: item5;
    background-image: url(../images/yamaha.jpg);
    background-size: cover;
  }
  .item6 {
    height: 250px;
    width: 240px;
    grid-area: item6;
    background-image: url(../images/mic.jpg);
    background-size: cover;
  }
}/*# sourceMappingURL=estilos.css.map */